# <a id="toc"></a>Table of Contents
{% for group in grouped_data %}
## {{ group.topic }}
{% for paper in group.papers %}
- [{{ paper.toc_summary }} ({{ "%.4f"|format(paper.similarity_score) }})](#{{ paper.id }})
{%- endfor %}
{% endfor %}
---
{%- for group in grouped_data %}

# {{ group.topic }}
{%- for paper in group.papers %}

## <a id="{{ paper.id }}"></a>[{{ paper.title }}]({{ paper.url if paper.url else "https://arxiv.org/abs/" + paper.id }}) [<sup>[back]</sup>](#toc)

**Relevance:** `{{ "%.4f"|format(paper.similarity_score) }}`

### Background

{{ paper.background_knowledge }}

### Summary

{{ paper.contribution }}
{%- endfor %}
{%- endfor %}
